<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranslationListenerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TranslationListenerService.Properties.Settings.ConnectionString"
            connectionString="Data Source=BELGF4ZKM1;Integrated Security=True;Initial Catalog=TranslationDB" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TranslationListenerService.Properties.Settings>
            <setting name="ServiceIntervalInMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HandoffFolderPath" serializeAs="String">
                <value>D:\Handoff</value>
            </setting>
            <setting name="HandbackFolderPath" serializeAs="String">
                <value>D:\Handback</value>
            </setting>
            <setting name="StoredProcedureName" serializeAs="String">
                <value>Localization_GetQueue</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>TranslationRequest</value>
            </setting>
            <setting name="PrimaryKey" serializeAs="String">
                <value>TranslationRequestID</value>
            </setting>
            <setting name="BatchKey" serializeAs="String">
                <value>AssignedBatchID</value>
            </setting>
            <setting name="InputLCIDKey" serializeAs="String">
                <value>InputLangID</value>
            </setting>
            <setting name="OuputLCIDKey" serializeAs="String">
                <value>TargetLangID</value>
            </setting>
        </TranslationListenerService.Properties.Settings>
    </applicationSettings>
</configuration>